@font-face {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	src: url('../../../assets/fonts/Georgia.ttf');
}
// Variables ------------------------------------------------------------------------

$color-primary: #f1cdb3;
$color-light-s: #fafafa;
$color-light-xl: #ffffff;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-3xl: #292929;

// ------------------------------------------------------------------------

.bg {
	&__wrapper {
		background: -webkit-linear-gradient(
			90deg,
			rgb(91, 72, 58),
			rgb(33, 31, 32)
		);
		background: -moz-linear-gradient(90deg, rgb(91, 72, 58), rgb(33, 31, 32));
		background: linear-gradient(90deg, rgb(91, 72, 58), rgb(33, 31, 32));
		width: 100%;
	}
}

// ------------------------------------------------------------------------ Container

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
	width: 100%;
}

// ------------------------------------------------------------------------ Header

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 0;

	&__logo-name h1 {
		color: $color-primary;
		font-size: 32px;
		line-height: 110%;
		letter-spacing: 0.06em;
		margin-bottom: 10px;
	}

	&__logo-description {
		color: $color-light-xl;
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.1em;
		font-family: 'Arial';
	}
}

.nav {
	&__list {
		display: flex;
	}

	&__item {
		margin-left: 35px;
		margin-top: 15px;
	}

	&__link {
		text-decoration: none;
		color: $color-dark-s;
		font-family: 'Arial';
		font-size: 15px;
		line-height: 160%;
	}

	&__link--active {
		color: $color-light-s;
		border-bottom: 3px solid $color-primary;
		padding: 4px;
	}
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

// ------------------------------------------------------------------------ Not Only

.not-only {
	display: flex;
	background-image: url(../../../assets/images/start-screen-puppy.png);
	background-repeat: no-repeat;
	background-position: right bottom;

	padding: 0 0 244px 0;

	&__image {
		margin-left: 43px;
	}
}

.not_only {
	&__title {
		font-family: 'Georgia';
		font-size: 44px;
		line-height: 130%;
		color: $color-light-xl;
		max-width: 310px;
		margin-top: 163px;
	}

	&__subtitle {
		font-family: 'Arial';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
		color: $color-dark-s;
		max-width: 460px;
		margin-top: -3px;
	}
}

.button {
	font-family: Georgia;
	background: #f1cdb3;
	border-radius: 100px;
	display: inline-block;
	padding: 15px 45px;
	line-height: 130%;
	font-size: 17px;
	letter-spacing: 0.06em;
	font-weight: 400;
	margin-top: 27px;

	a {
		color: #292929;
		text-decoration: none;
	}
}

// ------------------------------------------------------------------------ About

.about {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 58px;

	&__image {
		margin-top: 19px;
	}

	&__text {
		max-width: 430px;
		margin-left: -56px;
	}

	&__title {
		max-width: 370px;
		color: $color-dark-l;
		font-family: 'Georgia';
		font-size: 35px;
		line-height: 130%;
		letter-spacing: 0.06em;
	}

	&__info {
		color: $color-dark-xl;
		font-family: 'Arial';
		font-size: 15px;
		line-height: 160%;
	}
}

// ------------------------------------------------------------------------
