@font-face {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	src: url('../../../assets/fonts/Georgia.ttf');
}
// Variables ------------------------------------------------------------------------

$color-primary: #f1cdb3;
$color-light-s: #fafafa;
$color-light-l: #f6f6f6;
$color-light-xl: #ffffff;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-3xl: #292929;

// ------------------------------------------------------------------------

.bg {
	&__wrapper {
		background: -webkit-linear-gradient(
			90deg,
			rgb(91, 72, 58),
			rgb(33, 31, 32)
		);
		background: -moz-linear-gradient(90deg, rgb(91, 72, 58), rgb(33, 31, 32));
		background: linear-gradient(90deg, rgb(91, 72, 58), rgb(33, 31, 32));
		width: 100%;
	}
}

.title {
	font-family: 'Georgia';
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: $color-dark-l;
}

// ------------------------------------------------------------------------ Container

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
	width: 100%;
}

// ------------------------------------------------------------------------ Header

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 0;

	&__logo-name h1 {
		color: $color-primary;
		font-size: 32px;
		line-height: 110%;
		letter-spacing: 0.06em;
		margin-bottom: 10px;
	}

	&__logo-description {
		color: $color-light-xl;
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.1em;
		font-family: 'Arial';
		margin-left: 4px;
	}
}

.nav {
	&__list {
		display: flex;
	}

	&__item {
		margin-left: 35px;
		margin-top: 15px;
	}

	&__link {
		text-decoration: none;
		color: $color-dark-s;
		font-family: 'Arial';
		font-size: 15px;
		line-height: 160%;
	}

	&__link--active {
		color: $color-light-s;
		border-bottom: 3px solid $color-primary;
		padding: 4px;
	}
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

// ------------------------------------------------------------------------ Not Only

.not-only {
	display: flex;
	background-image: url(../../../assets/images/start-screen-puppy.png);
	background-repeat: no-repeat;
	background-position: right bottom;

	padding: 0 0 245px 0;

	&__image {
		margin-left: 43px;
	}
}

.not_only {
	&__title {
		font-family: 'Georgia';
		font-size: 44px;
		line-height: 130%;
		color: $color-light-xl;
		max-width: 310px;
		margin-top: 163px;
	}

	&__subtitle {
		font-family: 'Arial';
		font-size: 15px;
		line-height: 160%;
		color: $color-dark-s;
		max-width: 460px;
		margin-top: -3px;
	}
}

.button {
	font-family: Georgia;
	background: $color-primary;
	border-radius: 100px;
	display: inline-block;
	padding: 15px 45px;
	line-height: 130%;
	font-size: 17px;
	letter-spacing: 0.06em;
	font-weight: 400;
	margin-top: 25px;
	color: $color-dark-3xl;
	text-decoration: none;
}

.button:hover {
	cursor: pointer;
	background-color: $color-light-s;
	transition: all 0.3s ease;
}

// ------------------------------------------------------------------------ About

.about {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 58px;
	margin-bottom: 100px;

	&__image {
		margin-top: 12px;
	}

	&__text {
		max-width: 430px;
		margin-left: -56px;
	}

	&__title {
		max-width: 370px;
		color: $color-dark-l;
		font-family: 'Georgia';
		font-size: 35px;
		line-height: 130%;
		letter-spacing: 0.06em;
		margin-top: 38px;
		margin-bottom: 24px;
	}

	&__info {
		color: $color-dark-xl;
		font-family: 'Arial';
		font-size: 15px;
		line-height: 160%;
		margin-bottom: 24px;
	}
}

// ------------------------------------------------------------------------ Pets

.pets {
	background: $color-light-l;
	width: 100%;
	text-align: center;
	padding: 36px 0px 100px 0px;

	&__slider {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 59px -40px;
	}
}

.slider__left,
.slider__right {
	position: relative;
	width: 52px;
	height: 52px;
	border: 2px solid $color-primary;
	box-sizing: border-box;
	border-radius: 100px;
	margin: 0 40px;
	transition: all 0.3s ease;
}

.slider__left::after {
	position: absolute;
	margin: 13px -7px;
	content: url(../../../assets/images/Arrow-left.png);
}

.slider__right::after {
	position: absolute;
	margin: 13px -7px;
	content: url(../../../assets/images/Arrow-right.png);
}

.slider__left:hover,
.slider__right:hover {
	background-color: $color-primary;
	cursor: pointer;
}

.pet {
	&__card {
		background: $color-light-s;
		border-radius: 9px;
		padding-bottom: 28px;
		transition: all 0.3s ease;

		&__title {
			font-family: 'Georgia';
			font-size: 20px;
			line-height: 23px;
			letter-spacing: 0.065em;
			color: $color-dark-l;
			padding-top: 6px;
			padding-bottom: 10px;
		}
	}
}

.pet__card:hover {
	-webkit-transform: scale(1.12);
	-ms-transform: scale(1.12);
	transform: scale(1.12);
	cursor: pointer;

	.pets__button {
		background-color: $color-primary;
	}
}

.pets__button {
	padding: 15px 45px;
	background: $color-light-s;
	border-radius: 100px;
	color: #292929;
	font-family: Georgia;
	display: inline-block;
	line-height: 130%;
	letter-spacing: 0.089em;
	font-weight: 400;
	border: 2px solid $color-primary;
	transition: all 0.3s ease;
}

.pets__button:hover {
	cursor: pointer;
}

.pets__button--down {
	background: $color-primary;
	border-radius: 100px;
	padding: 15px 43px;
	color: $color-dark-3xl;
	font-family: Georgia;
	line-height: 130%;
	letter-spacing: 0.089em;
	border: 2px solid $color-primary;
	margin-top: 2px;
	transition: all 0.3s ease;
}

.pets__button--down:hover {
	background: $color-light-s;
	cursor: pointer;
}

.pet__item2 {
	margin: 0 77px;
}

// ------------------------------------------------------------------------ Help

.help {
	padding: 80px 0 45px 0;

	&__container {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&__title {
		text-align: center;
		max-width: 310px;
		margin: auto;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 59px auto 0 auto;
	}

	&__option {
		&_item {
			text-align: center;
			margin-left: 59px;
			margin-right: 60px;
			margin-bottom: 50px;
		}
	}
}

.help__options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 65px auto -6px auto;
}

.help__item--text {
	font-family: 'Georgia';
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: $color-dark-l;
}

// ------------------------------------------------------------------------ Donation

.donation {
	padding: 39px 28px 88px 0;
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image {
		margin-top: 13px;
		margin-left: 29px;
	}

	&__info {
		margin-left: 30px;
	}

	&__info--title {
		max-width: 300px;
		margin-top: 24px;
	}

	&__info--subtitle {
		font-family: 'Georgia';
		font-size: 15px;
		line-height: 110%;
		letter-spacing: 0.06em;
		color: $color-dark-l;

		margin-top: -15px;
	}

	&__info--description {
		font-family: 'Arial';
		font-style: italic;
		font-size: 12px;
		line-height: 18px;
		color: $color-dark-m;
		max-width: 380px;
		margin-top: 20px;
	}
}

.button {
	&__donation {
		background: $color-primary;
		border-radius: 9px;
		border: 2px solid $color-primary;
		position: relative;
		width: 349px;
		height: 43px;
		display: flex;
		align-items: center;
		margin-top: 20px;
	}

	&__donation--number {
		font-family: 'Georgia';
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 0.06em;
		color: $color-dark-l;
		margin-left: 52px;
		text-decoration: none;
	}
}

.button__donation::before {
	width: 30px;
	height: 23px;
	position: absolute;
	content: url(../../../assets/icons/credit-card.png);
	margin-left: 7px;
}

// ------------------------------------------------------------------------ Footer

.footer {
	&__wrapper {
		padding-top: 20px;
	}

	&__info {
		display: flex;
		justify-content: space-between;
	}

	&__questions {
		max-width: 302px;
		min-height: 234px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__wait {
		max-width: 302px;
		min-height: 234px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__email,
	&__number,
	&__location1,
	&__location2 {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-decoration: none;
		font-family: 'Georgia';
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 0.06em;
		color: $color-primary;
	}

	&__email::before {
		content: url(../../../assets/icons/footer-section/mail.png);
		padding-right: 20px;
	}

	&__number::before {
		content: url(../../../assets/icons/footer-section/phone.png);
		padding-right: 20px;
	}

	&__location1::before {
		content: url(../../../assets/icons/footer-section/pin.png);
		padding-right: 20px;
	}

	&__location2::before {
		content: url(../../../assets/icons/footer-section/pin.png);
		padding-right: 20px;
	}

	&__image {
		margin-top: 20px;
	}
}

.style__text {
	font-family: 'Georgia';
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: $color-light-xl;
}

.footer__number {
	margin-bottom: 55px;
}

.question {
	&__title {
		margin: 37px 0 1px 0;
	}
	&__title2 {
		margin: 37px 0px 1px -3px;
	}
}

.footer {
	&__location1 {
		margin-left: -5px;
	}
	&__location2 {
		margin: 0px 0px 56px -6px;
	}
}
